In [11]:
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd

In [6]:
df = pd.read_csv("candlesticks.csv")

In [7]:
df.head()

              time      low     high     open    close
0  Mar  5 20:00:00  1122610  1122900  1122680  1122830
1  Mar  5 21:00:00  1122660  1123030  1122820  1122840
2  Mar  5 23:00:00  1122260  1123010  1123010  1122290
3  Mar  6 00:00:00  1121200  1122840  1122290  1122040
4  Mar  6 01:00:00  1121880  1124640  1122030  1124560

In [12]:
fig = go.Figure(data=[go.Candlestick(x=df['time'],
                open=df['open'],
                high=df['high'],
                low=df['low'],
                close=df['close'])])

In [ ]:
fig.show()